name: Posting Alerts

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:

  check-quiet:
    runs-on: ubuntu-latest
    outputs:
      quiet: ${{ steps.qh.outputs.quiet }}
    steps:
      - name: Check Quiet Hours IST
        id: qh
        run: |
          IST=$(TZ="Asia/Kolkata" date +%H%M)

          if [ "$IST" -ge 0230 ] && [ "$IST" -lt 1230 ]; then
            echo "quiet=true" >> $GITHUB_OUTPUT
          else
            echo "quiet=false" >> $GITHUB_OUTPUT
          fi

  run-alerts:
    runs-on: ubuntu-latest
    needs: check-quiet
    if: needs.check-quiet.outputs.quiet == 'false'
    steps:

      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          cd Alerts
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Posting Alerts
        env:
          LOCAL_MONGO_URI: ${{ secrets.LOCAL_MONGO_URI }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        run: |
          cd Alerts
          python posting_alerts.py
